.news{
    position: relative;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin: 10px;
    background-color:hsl(0, 0%, 11%) ;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 1200px;
    overflow-y:scroll ;
    /* margin-left: 140px; */
}
.news::-webkit-scrollbar {
    display: none;
}